.body {
    padding: 0;
    margin: 0;


    display: grid;
    grid-template: auto;
    grid-template-areas: 
    ".  header ."
    ". field aside"
    "footer  footer footer";
    /* ". header header header ."
    ". field field field aside"
    "footer footer footer footer footer"; */
    
}

.body__field {
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    margin: 25px auto;
    width: 70vh;
}

.header__current-player {
    margin: auto;
}

.field {
    display: grid;
    width: 70vh;
    border: 1px solid black;
    grid-area: field;
}

.field_3x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.field_15x15 {
    grid-template-columns: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
}

.field__cell {
    border: 1px solid black;
    text-align: center;
    vertical-align:middle;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 500;
}

.field__cell-hovered-x:after {
    content: "X";
    color: rgb(121, 121, 121);
}

.field__cell-hovered-o:after {
    content: "O";
    color: rgb(121, 121, 121);
}

.cell_15x15 {
    height: calc(70vh / 15);
    font-size: 4vh;
}

.cell_3x3 {
    height: calc(70vh / 3);
    font-size: 20vh;
}

.current-player { 

}

.score-tab {
    grid-area: aside;
}